html,body,h1 {
  margin: 0;
  padding: 0;
}

#top_banner {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

#top_banner h1 {
  width: 300px;
  height: 100%;
  text-align: center;
  float: left;
}

#top_banner p {
  float: right;
  padding-right: 10px;
}

#sidebar {
  width: 250px;
  height: 100%;
  float: left;
  min-height: 1000px;
  border-right: 1px solid black;
}

#main_body {
  width: 80%;
  height: 100%;
  min-width: 300px;
  min-height: 1000px;
  float: left;
  margin-left: 20px;
}

#admin_side_menu {
  margin: 0;
  padding: 0;
  margin: auto auto;
  width: 175px;
  margin-top: 10px;
}

#admin_side_menu li {
  list-style: none;
}

#admin_side_menu li#btn_logout {
  margin-top: 30px;
}

#admin_side_menu a:link, #admin_side_menu a:hover, #admin_side_menu a:visited, #admin_side_menu a:active {
  display: block;
  width: 175px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid black;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

#admin_side_menu a:hover, #admin_side_menu a:active, #admin_side_menu a:visited {
  background-color: #03a1fc;
  text-decoration: none;
}

.list_table {
  margin: 20px 0px 0px 20px;
}

.list_table th, .list_table td {
  padding: 5px 10px;
  border: 1px solid black;
}

.responseMessage {
  width: 230px;
  height: 20px;
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  background-color: green;
  text-align: center;
}

h1#homepage {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 30px;
}

input, select {
  border: 1px solid #a6a6a6;
  padding: 2px;
  font: 12px "Arial";
  line-height: 15px;
  vertical-align: middle;
}

/* jQuery UI overrides */
.ui-datepicker-trigger {
  position: relative;
  top: 3px;
  cursor: pointer;
}

/* Bookings */
.formField_date {
  width: 70px;
  margin-right: 5px;
}

.formField_time {
  width: 20px;
}

.formField_text_med {
  width: 50px;
}

.formField_text_large {
  width: 200px;
}

button {
  width: 100px;
  height: 30px;
  padding: 5px;
  font: 14px "Arial";
  cursor: pointer;
}

div#errorDiv {
  margin-left: 20px;
  margin-top: 20px;
}

.error {
  color: #ff0400;
}

.admin_section_title_div {
  width: 300px;
  height: 70px;
}

.admin_add_link {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 14pt;
}

#booking_fee_div {
  display: inline;
}
